*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    color: #222;
    width: 1920px;
}

.header{
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px rgb(0, 0,0,0.15);
    padding: 0 60px;
}

.logo{
    margin-right:auto;
}

.gnb{
    display: flex;
}


.gnb a{
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 50px;
}

.gnb a.on{
    color: #0084BC;
    
}

.user{
    margin-left: 50px;
    margin-right: 50px;
    width: 1170px;
    height: 380px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
}

.user_img a{
    display: block;
    justify-content: center;
    align-items: center;
    height: 280px;
    padding: 10PX;
}
.container ul{
    width: 1170px;
    height: 56px;
    line-height: 56px;
}
.user_text{
    width: 270px;
    height: 54px;
    line-height: 54px;
    background-color: blue;
    justify-content: center;
    align-items: center;

}
.user_text .container h2 {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.user_text .container p {
    font-size: 16px;       
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider{
  position: relative;
}

.slide{
    height: 650px;
    position: relative;
}

.slide_texts{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slide_arows{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slide_arows img{
    width: 46px;
}

.prev{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(-50%);

}

.next{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}